

    * {
        margin: 0;
        padding: 0;
    }
    
    .body {
        margin: 0;
    } 
    .navbar {
        position: fixed;
        top: 0;
        overflow: hidden;
    }

    .logo {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid #D2B14C;
        float: left;
    }

    .navbar .navbar-nav .nav-link {
        color: white;
        font-size: 1.3em;
        margin-left: 25px;
    }

    .navbar .navbar-nav .nav-link:hover {
        cursor: pointer;
        color: #D2B14C;
        border-bottom: 5px solid #D2B14C;
    }

    .sm-icons {
        flex-direction: row;
        }
    

    @media only screen and (max-width: 960px) {
    .sm-icons .nav-item .nav-icon{
        padding-right: 1em;
        display: block;
    }
    }

    .intro-image {
        height: 400px;
        width: 300px;
        border-radius: 45%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* border: 3px solid #F1C232; */
    }

    .intro-writeup {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: var(--gray2);
        text-align: center;
    }

    #project {
        background-color: black;
    }

    #contact {
        background-color: black;
    }

    #work {
        background-color: black;
    }

    #intro {
        background-color: black;
    }

    .navbar-brand {
        display: inline;
        align-items: center;
    }
    .heading {
        float: right;
        color: #D2B14C;
        font-size: 19px;
        margin-left: 5px;
        font-family:fantasy;
    }
    .heading:hover {
        color: #D2B14C;
        font-size: 20px;
    }

    .first-work {
        height: 300px;
    }

    .second-work {
        height: 300px;
    }

    .third-work {
        height: 300px;
    }

    .projectText.card {
        height: 350px;
        cursor: pointer;
    }
    .card-title {
        text-align: center;
        text-decoration: underline;
    }
    
    .projectText:hover {
        border: 3px solid #D2B14C;
    }

    .viewcode {
        margin-left: 35%;
    }
    .viewcode:hover {
        border: 3px solid #D2B14C;
    }

    .menuitem {
        color: white;
    }

    .menuitem:hover {
        cursor: pointer;
        color: #D2B14C;
    }
    .footer {
        height: 20px;
        color: #D2B14C;
        font-size: small;
    }
    .footerEmail {
        height: 20px;
        font-size: small;
        color: #D2B14C;
        cursor: pointer;
        text-decoration: none;
    }


    
    

  

